@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes underline {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #daa521; /* Change this to your desired color */
  animation: underline 0.3s ease forwards;
}
